.CardPage{
    width: 80vw;
    height: 50vh;
    display: flex;
}

.CardView{
    height: 2in;
    width: 3.5in;
    position: relative;
    background-color: white;
}

.CardView div{
    font-size: 12px;
}

.NameValue{
    position: absolute;
}