h4 {
    font-size: 15px;
}


.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

@media screen and (max-width: 600px) {
    .footer-container {
        display:block;
        padding-left: 10vw;
 

    
    }
}