.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.inner-wrapper {
  width: 95vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-wrapper h2 { 
  text-align: center;
  font-size: 25px;
  margin-top: 5vh;
}

.inner-wrapper h3 {
  text-align: center;
  font-size: 17px;
  margin-bottom: 5vh;
}

.steps {
  display: flex;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
  padding-right: 5vw;
  padding-left: 5vw;
  background-color: #fa9d5b;
  border-radius: 50%;
  height: fit-content;
  width: 25vw;
  margin: 2vw;
}

.numbered-step-num {
  margin-top: 0;
  padding: 0 0 0.2rem 0;
  font-size: 50px;
  text-align: center;
  color: #fff;
}

.step p {
  color: #fff;
  text-align: center;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}

.link {
  color: black;
}
.hover-underline-animation:hover {
  color: white;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 600px) {
  .steps {
    flex-direction: row;
    align-content: center;
  }

  .step p {
    font-size: 3vmin;
  }

  .inner-wrapper h2 {
    font-size: 5vw;
  }
  .inner-wrapper h3 {
    font-size: 3vw;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
  }

  .link{
      font-size: 4vw;
  }

  .numbered-step-num {
    font-size: 10vw;
  }

  .numbered-step-txt1 p {
    font-size: 2.5vw;
  }

  .numbered-step-txt2 p {
    font-size: 1.9vw;
  }

  .numbered-step-txt3 p {
    font-size: 2.5vw;
  }


}
