.Header{
    width: 85vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.NavBar h4{
    border-right: 1px solid white;
    margin-right: 1.5vw;
    padding-right: .5vw
}

.TextNormal{
    color: white;;
}

.TextSelected{
    color: deeppink;
}