

h1 {
    font-weight: 500;
    font-size: 24px;
    color:black;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-variant: small-caps;
}

#top {
    display: flex;
    justify-content: space-between;
}

.logo:hover {
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
   
}

.intro {
    font-size: 18px;
    color: black;
    
}


.container-2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.section {
   margin: 0 10px;
   color: black;
   font-weight: 400;
}



.section:hover {
    color:rgb(5, 91, 91);
}

.logout {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 400;
}

.logout:hover {
    color: rgb(5, 91, 91);
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
      
    }
    
  
  }
